/* Searchbar styling */
.search-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#movie-search-label {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 1.2px;
}

.movie-card {
  height: 500px;
  margin: 0px 15px 40px 15px;
}
